html {
  font-size: 10px;
}
body {
  font-size: 9pt;
  padding: 10px;
}

#main-aside-wrapper header, #main-aside-wrapper section, #main-aside-wrapper nav,
#main-aside-wrapper main, #main-aside-wrapper aside {
  background-color:#FFB6C1;
}
#logo {
width: 100px;
height: 100px;
float: left;
}
#main-aside-wrapper section{
  margin: auto;
  background-color:#9ACD32; 
  border-color: white;
  border-top-style: groove;
  border-top-width: 3px;
  border-left-width: 3px;
  border-left-style: groove;
  border-bottom-width: 3px;
  border-bottom-style: groove;
  border-right-width: 3px;
  border-right-style: groove;
}
#main-aside-wrapper nav {
  background-color: #FF69B4;
}

tr:nth-child(odd) {
  background-color: antiquewhite;
}

tr:nth-child(even) {
  background-color: #FF69B4;
}

#main-aside-wrapper footer {
  color: black;
  background-color:#6495ED; 
  padding-left: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-top-style: #87CEEB;
  border-top-width: 3px;
  border-left-width: 3px;
  border-left-style: #87CEEB;
  border-bottom-width: 3px;
  border-bottom-style: #87CEEB;
  border-right-width: 3px;
  border-right-style: #87CEEB;
}

#bg-ex-fixed{
  background: url(winxwp038.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
}
