#centre {
  margin: auto;
  background-color: pink;
  padding: 7px;
}

tr:nth-child(odd) {
  background-color: antiquewhite;
}

tr:nth-child(even) {
  background-color: #FF69B4;
}

div.href {
  max-width: 800px;
  background-color: #DB7093;
  margin: 0 auto;
    margin-top: 0px;
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 10px;
}
footer {
  
footer {
  color: black;
  background-color:#C71585; 
  padding-left: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-top-style: solid;
  border-top-width: 3px;
  border-left-width: 3px;
  border-left-style: solid;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-right-width: 3px;
  border-right-style: solid;
}
