#centre {
  margin: auto;
  background-color: pink;
  padding: 7px;
}

tr:nth-child(odd) {
  background-color: antiquewhite;
}

tr:nth-child(even) {
  background-color: #FF69B4;
}

div.href {
  max-width: 800px;
  background-color: #FF1493;
  margin: 0 auto;
    margin-top: 0px;
  margin-bottom 10px;
  margin-top: 20px;
  padding: 10px;
}
